- provide(:title, 'Home')
%section.banner
  .container-fluid
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %h1 Resilience Measures
        %h2 Measuring strengths to nurture resilience in Central Oregon
        =link_to 'Browse the Measures »', measures_path, class: 'button'
.row.sub-banner
  .col-lg-4
    %h2 Why?
    %p Great data inform great decision-making. By using the same measures we can share lessons learned and increase our impact.
  .col-lg-4
    %h2 Why These Measures?
    %p A team from OSU-Cascades scanned the literature for measures that explored resilience beyond the individual perspective to include relational, community, and cultural factors. They also looked for something free, short, trustworthy, strengths-based, culturally responsive, and available in multiple languages.
  .col-lg-4
    %h2 How?
    %p Register for free to agree to the terms of use, and access the measures online.
    =link_to 'Register and Access the Measures »', new_user_registration_path
