- provide(:title, 'Home')

%section.banner
  .container-fluid
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %h1 Resilience Measures
        %h2 Measuring strengths to nurture resilience in Central Oregon
        =link_to 'Browse the Measures »', measures_path, class: 'btn btn-primary'
.row.sub-banner
  .col-lg-4
    %h2 Why?
    %p Great data inform great decision-making. By using the same measures we can share lessons learned and increase our impact.
  .col-lg-4
    %h2 Why These Measures?
    %p A team from OSU-Cascades scanned the literature for measures that explored resilience beyond the individual perspective to include relational, community, and cultural factors. They also looked for something free, short, trustworthy, strengths-based, culturally responsive, and available in multiple languages.
  .col-lg-4
    %h2 How?
    %p Register for free to agree to the terms of use, and access the measures online.
    %p= link_to 'Register and Access the Measures »', new_user_registration_path, class: 'btn btn-primary'
.row.sub-banner
  %h2 About These Resilience Measures
  %p This collaborative measurement-focused project between <a href="http://tracesco.org">TRACEs</a> and <a href="https://osucascades.edu">OSU-Cascades</a> was an effort to collect and organize easy-to-use measures that have been developed to assess resilience-promoting factors (aka protective factors). <a href="https://osucascades.edu">OSU-Cascades</a> researchers collaborated with leaders from the <a href="http://tracesco.org">TRACEs</a> initiative to develop a collection of resilience-promoting measures that may be useful here in Central Oregon. <a href="https://osucascades.edu">OSU-Cascades</a> faculty and students collated and organized existing, validated and easy-to-use measures. Then they developed and provided details about this collection in this password-protected online platform so that <a href="http://tracesco.org">TRACEs</a> community partners across service sectors could consider using strength-based measures.
  %p In addition, researchers identified a select core set of resilience-promoting measures (see <a href="/measures/tag?tag=shared">Shared Measures</a> for more details) that could be used in Central Oregon across ages, counties and sectors. The goal being that if we can measure these protective factors, then we can also work together to nurture those protective factors.
  %p Protective factors are typically organized into three categories: <a href="/measures/category?category=individual">Individual-level</a>, <a href="/measures/category?category=relational">Family/Relational-level</a> and <a href="/measures/category?category=community">Community-level</a> protective factors. This collection of measures also includes a fourth category, <a href="/measures/category?category=general">General resilience measures</a>. These <a href="/measures/category?category=general">general measures</a> were designed to assess more than one protective factor or to assess general resilience-promoting factors.
