- provide(:title, 'Home')
%section.banner
  .container-fluid
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        %h1 Tracing Resilience
        %p Tagline
.row
  =link_to 'Sign Up', new_user_registration_path, class: 'button'
%hr
.row
  .col-lg-4
    %h2 One
    = image_tag '400x400.png'
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-lg-4
    %h2 Two
    = image_tag '400x400.png'
    %p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
  .col-lg-4
    %h2 Three
    = image_tag '400x400.png'
    %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
