.navbar {
  background-color: #FFF;
  margin-bottom: 20px;
}

.nav-item {
  a {
    color: black;
  }
}

.nav-link {
  a {
    color: $primary-color;
    &:hover {
      text-decoration: none;
    }
  }
}