%h1 Listing measures

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @measures.each do |measure|
      %tr
        %td= link_to 'Show', measure
        %td= link_to 'Edit', edit_measure_path(measure)
        %td= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Measure', new_measure_path
